* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f6f5f7;
  color: #333;
}

h1, h2 {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo h1 {
  font-size: 24px;
  color: #5995fd;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #333;
  font-weight: 500;
}

/* Common Button Styles */
.btn {
  border: none; /* Remove border for Sign In button */
  padding: 12px 30px; /* Adjust padding */
  background-color: #00008B; /* Same background color as Register button */
  color: #fff; /* White text */
  text-transform: uppercase; /* Uppercase text */
  border-radius: 25px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Transition for background color */
}

.btn:hover {
  background-color: #00008B; /* Darker shade on hover */
}

/* Hero Section */
.hero-section {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
}

.hero-content p {
  font-size: 18px;
  margin: 20px 0;
}

/* Food Categories Section */
.food-categories {
  padding: 50px 20px;
  text-align: center;
  background-color: #fff;
}

.categories-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.hero-description {
  margin-top: 100px; /* Adjusted for more space */
}

.category-card {
  text-align: center;
}

.category-card img {
  width: 150px;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Top Restaurants Section */
.top-restaurants {
  padding: 50px 20px;
  text-align: center;
}

.restaurants-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.restaurant-card {
  text-align: center;
}

.restaurant-card img {
  width: 150px;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Footer Section */
footer {
  padding: 20px;
  background-color: #333;
  color: #fff;
  text-align: center;
}

/* Responsive Styles */
@media (max-width: 940px) {
  .categories-container,
  .restaurants-container {
    flex-direction: column;
    align-items: center;
  }

  .category-card,
  .restaurant-card {
    margin-bottom: 20px;
  }
	
  .navbar {
    flex-direction: column;
  }

  .nav-links {
    flex-direction: column;
    margin-top: 20px;
  }

  .nav-links li {
    margin-bottom: 10px;
    margin-left: 0;
  }

  .hero-description {
    margin-top: 80px; /* Adjusted for more space */
  }
}
